body,
div,
h1,
h2,
h3,
h4,
h5,
ul,
li,
em{
    padding: 0;
    margin: 0;
    list-style: none;
    border: none;
    font-family: 'Roboto Slab',serif;
    font-style: normal;
}
html,
body {
    background: #fff;
}
body {
    font-size: 62.5%;
}
a,
a:link,
a:visited {
    color: #000;
    text-decoration: none;
    transition: color 0.618s ease-in 0s;
}
a.txt-dec-underline {
    text-decoration: underline;
}
a:hover {
    color: #cf010d!important;
}
.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
*html .clearfix {
    height: 1%;
}
.logo {
    position: absolute;
    right: 2em;
    top: 4.2em;
    z-index: 999;
}
.site-a {
    display: inline-block;
    float: right;
    position: relative;
    top: -3em;
    right: 6em;
    z-index: 999;
}
.site-a > li {
    float: right
}
.site-a > li > a {
    font-size: 1.4em;
    padding: 0 2em;
    margin: .3em .7em;
    background: #fff;
    border: 2px solid #000;
    color: #000;
    line-height: 32px;
    display: block;
    position: relative;
    text-align: center;
}
.site-a-href::before,
.site-a-href::after {
    box-sizing: border-box;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}
.site-a-href::before {
    border-bottom: 2px solid #cf010d;
    border-top: 2px solid #cf010d;
    transform: scale3d(0, 1, 1);
}
.site-a-href::after {
    border-left: 2px solid #cf010d;
    border-right: 2px solid #cf010d;
    transform: scale3d(1, 0, 1);
}
.site-a-href::before,
.site-a-href::after {
    height: 113%;
    left: 0;
    margin-left: -2px;
    margin-top: -2px;
    top: 0;
    transform-origin: center center 0;
    width: 103%;
}
.site-a-href:hover::before,
.site-a-href:hover::after {
    transform: scale3d(1, 1, 1);
    transition: transform 0.5s ease 0s;
}
#cnzz_stat_icon_1260920122 {
    display: none;
}
#canvas {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}
/*個人信息*/
.info {
    position: absolute;;
    z-index: 999;
    padding-left: 8em;
}
.personal {
    top: 10em;
}
.educational {
    top: 32em;
}
.hobby {
    top: 46em;
}
.about {
    top: 46em;
    left: 47em;
}
.info > h2 {
    display: inline-block;
    padding: 0 2em .5em 0;
    font-size: 1.8em;
    position: relative;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: -webkit-linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: -moz-linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
}
.info-ul {
    padding-top: 1.5em;
    line-height: 2em;
}
.info-ul > li {
    font-size: 1.4em;
}
.info-ul > li > em {
    display: inline-block;
}
.info-ul > li > em:first-child {
    text-align: right;
    width: 4em;
}
.educational > .info-ul > li > em:first-child {
    width: auto;
    text-align: left;
}
.info-ul > li > em:last-child {
    padding-left: 1em;
}
.hobby > .info-ul > li {
    display: inline-block;
    margin: 0 .2em;
}
.about > p {
    font-size: 1.3em;
    line-height: 1.8em;
    padding-right: 15em;
    margin-top: 0.5em;
    text-indent: 0;
    padding-left: 0;
}
/*第二頁 start*/
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(3);
    }
}
@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(3);
    }
}
.ripple {
    width: 28em;
    height: 28em;
    left: -14em;
    top: -14em;
}
.ripple::after,
.ripple-right-top::after {
    content: '';
}
.ripple::after {
    width: 12em;
    height: 12em;
    left: 8em;
    top: 8em;
}
.ripple,
.ripple::after,
.ripple-right-top,
.ripple-right-top::after {
    animation: 4s ease-out 0s normal none 1 running ripple;
    border: 1px solid rgba(207, 1, 13, .382);
    border-radius: 50%;
    position: absolute;
    /*transform: scale(0);*/
    z-index: -1;
}
.ripple,
.ripple-right-top {
    animation-delay: .3s;
    animation-iteration-count: infinite;
}
.ripple-right-top {
    width: 28em;
    height: 28em;
    right: -14em;
    top: -16em;
}
.ripple-right-top::after {
    width: 12em;
    height: 12em;
    left: 8em;
    top: 8em;
}
.calendar {
    position: absolute;
    top: 12em;
    right: 16em;
}
.calendar-reticle,
.calendar-reticle::before {
    border-top-width: 0;
    border-bottom-width: 1px;
    display: block;
    width: 26em;
    border-bottom-style: solid;
    border-image: -webkit-linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: -moz-linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
}
.calendar-reticle {
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */
    transform:rotate(180deg);
}
.calendar-reticle::before {
    content: 'safari';
    /*兼容safari浏览器 iphone*/
    color: rgba(255, 255, 255, 0);
    -ms-transform:rotate(270deg) translate(8em, -10em); /* Internet Explorer */
    -moz-transform:rotate(270deg) translate(8em, -10em); /* Firefox */
    -webkit-transform:rotate(270deg) translate(8em, -10em); /* Safari 和 Chrome */
    -o-transform:rotate(270deg) translate(8em, -10em); /* Opera */
    transform:rotate(270deg) translate(8em, -10em);
}
/*農曆開始*/
.calendar-content {
    padding: 0 4em 2em 1em;
    text-align: center;
    color: #333;
    position: relative;
    top: -3.8em;
}
.calendar-ganzhi {
    font-size: 1.6em;
    /*border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #333, rgba(255, 255, 255, 0)) 30 10;
    border-image: -moz-linear-gradient(left,rgba(255, 255, 255, 0),  #333, rgba(255, 255, 255, 0)) 30 10;
    border-image: linear-gradient(left,rgba(255, 255, 255, 0),  #333, rgba(255, 255, 255, 0)) 30 10;*/
    padding-bottom: .4em;
}
.calendar-date {
    padding-top: .4em;
}
.calendar-zodiac {
    font-size: 1.4em;
}
.calendar-month  {
    font-size: 2em;
    margin-left: 0.2em;
}
.calendar-day {
    font-size: 6em;
    vertical-align: middle;
    color: rgba(207, 1, 13, 0.618);
}
.calendar-lunar,
.calendar-taboo {
    font-size: 1.4em;
    line-height: 1.6em;
}
.calendar-benefit {
    -webkit-writing-mode: vertical-rl;
    writing-mode: tb-rl;
    writing-mode: vertical-rl; /*兼容Safari*/
    text-align: left;
    padding-top: 3em;
    width: 17em;
    margin: 0 auto;
}
.yi {
    padding-bottom: .1em;
    font-size: 2em;
    color: #cf010d;
    font-weight: 400;
    border-top-width: 0;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: -moz-linear-gradient(left,rgba(255, 255, 255, 0),  #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: linear-gradient(left,rgba(255, 255, 255, 0),  #cf010d, rgba(255, 255, 255, 0)) 30 10;
}
.calendar-benefit > li {
    position: relative;
    color: #cf010d;
    font-size: 1.6em;
    line-height: 2.2em;
}
.calendar-benefit > li::before {
    width: .2em;
    height: .2em;
    background: #cf010d;
    content: '';
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -.76em;
    left: 1.1em;
}
.calendar-benefit > li::after {
    width: .5em;
    height: .5em;
    border: 1px solid #cf010d;
    content: '';
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -1em;
    left: .87em;
}
/*農曆結束*/
/*工作經驗 start*/
.work-experience-reticle,
.work-experience-reticle::before {
    border-top-width: 0;
    border-bottom-width: 1px;
    display: block;
    width: 66em;
    border-bottom-style: solid;
    border-image: -webkit-linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: -moz-linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
}
.work-experience-reticle {
    position: relative;
    bottom: -25em;
    left: 1em;
}
.work-experience-reticle::before {
    content: 'safari';
    /*兼容safari浏览器 iphone*/
    color: rgba(255, 255, 255, 0);
    -ms-transform:rotate(270deg) translate(22em, -26em); /* Internet Explorer */
    -moz-transform:rotate(270deg) translate(22em, -26em); /* Firefox */
    -webkit-transform:rotate(270deg) translate(22em, -26em); /* Safari 和 Chrome */
    -o-transform:rotate(270deg) translate(22em, -26em); /* Opera */
    transform:rotate(270deg) translate(22em, -26em);
}
.work-experience-round {
    position: relative;
    width: 1em;
    height: 1em;
    border: 1px solid #cf010d;
    content: ' ';
    display: block;
    border-radius: 50%;
    top: -45em;
    left: 7.05em;
}
.work-experience-round::before {
    width: .8em;
    height: .8em;
    background: #cf010d;
    content: ' ';
    display: block;
    border-radius: 50%;
    position: absolute;
    top: .1em;
    left: .12em;
}
.work-experience-round::after {
    position: absolute;
    top: -.2em;
    left: 1.92em;
    width: 10em;
    font-weight: 400;
    font-size: 1.4em;
}
.work-box {
    position: relative;
}
.work-content {
    position: absolute;
    top: 0.5em;
    left: 5em;
    width: 26em;
    line-height: 2em;
    font-size: 1.3em;
}
.work-2014 {
    top: 15em;
}
.work-2014-3 {
    top: 30em;
}
.work-experience-round:after {
    width: 25em;
}
.work-1::after {
    content: '2015.08 - 至今 百度在线网络有限责任公司';
}
.work-2::after {
    content: '2014.08 - 2015.08  中国移动和教育';
}
.work-3::after {
    content: '2014.03 - 2014.08  新航道国际教育集团';
}
.work-more {
    display: none;
}
/*工作經驗 end*/
/*第二頁 end*/

/*第三頁 start*/
.reticle-top-right,
.reticle-top-right::before,
.reticle-bottom-left,
.reticle-bottom-left::before {
    border-top-width: 0;
    border-bottom-width: 1px;
    display: block;
    width: 26em;
    border-bottom-style: solid;
    border-image: -webkit-linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: -moz-linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
    border-image: linear-gradient(left, #cf010d, rgba(255, 255, 255, 0)) 30 10;
}
.reticle-top-right,
.reticle-top-right::before {
    width: 30em;
}
.reticle-top-right {
    position: absolute;
    top: 10em;
    right: 10em;
    -ms-transform:rotate(180deg); /* Internet Explorer */
    -moz-transform:rotate(180deg); /* Firefox */
    -webkit-transform:rotate(180deg); /* Safari 和 Chrome */
    -o-transform:rotate(180deg); /* Opera */
    transform:rotate(180deg);
}
.reticle-top-right::before,
.reticle-bottom-left::before {
    content: 'safari';
    /*兼容safari浏览器 iphone*/
    color: rgba(255, 255, 255, 0);
    -ms-transform:rotate(270deg) translate(7em, -12em); /* Internet Explorer */
    -moz-transform:rotate(270deg) translate(7em, -12em); /* Firefox */
    -webkit-transform:rotate(270deg) translate(7em, -12em); /* Safari 和 Chrome */
    -o-transform:rotate(270deg) translate(7em, -12em); /* Opera */
    transform:rotate(270deg) translate(7em, -12em);
}
.reticle-bottom-left {
    position: absolute;
    bottom: 10em;
    left: 10em;
}
.reticle-top-right > .profile-title {
    font-weight: 400;
    font-size: 1.5em;
    -ms-transform:rotate(-180deg) translate(4.5em, -2em); /* Internet Explorer */
    -moz-transform:rotate(-180deg) translate(4.5em, -2em); /* Firefox */
    -webkit-transform:rotate(-180deg) translate(4.5em, -2em); /* Safari 和 Chrome */
    -o-transform:rotate(-180deg) translate(4.5em, -2em); /* Opera */
    transform:rotate(-180deg) translate(4.5em, -2em);
}
.reticle-top-right > .profile-title > span {
    font-size: 1.2em;
    font-weight: 800;
    color: #cf010d;
}
.profile-content {
    position: relative;
    top: 0;
    padding-left: 20em;
}
.profile-time {
    color: #cf010d;
    font-size: 1.6em;
    font-weight: 400;
}
.profile-name {
    display: block;
    color: #000;
    margin: .5em 0 0 0;
}
.rofile-name::first-letter {
    font-size: 2.2em;
}
.profile-p {
    width: 38em;
    font-size: 1.4em;
    line-height: 1.8em;
}
.profile-p2 > h3 {
    font-size: 1.6em;
    font-weight: 400;
    margin: .5em 0 0 0;
}
p.assembly {
    width: 50em;
    line-height: 1.8em;
    margin-left: 0;
    margin-top: 1em;
}
.assembly {
    font-size: 1.4em;
    margin-top: 1.8em;
    line-height: 1em;
    margin-left: 3em;
}
.assembly > li {
    list-style-type: circle;
    color: #cf010d;
}
.assembly > li:last-child {
    list-style: none;
}
.assembly > li > p {
    color: #000
}
.assembly > li > p > a {
    text-decoration: underline;
}
/*第三頁 end*/
/* pc */
@media all and (min-width: 960px) {
    .logo {
        right: 6em;
    }
    .site-a {
        padding-right: 10em;
    }
    .site-a-href::before,
    .site-a-href::after {
        width: 104%;
    }
}
/* 小屏幕*/
@media all and (max-width: 960px) {
    .site-a {
        padding-top: 12em;
        right: 2.5em;
        top: -10em;
    }
    .site-a > li {
        display: block;
        float: none;
    }
    .site-a > li > a {
        padding: 0 .2em;
        margin: .2em 0;
        font-size: 1.2em;
    }
    .educational  li > em:last-child {
        display: block;
    }
    .logo {
        top: 1em;
        right: 1em;
    }
    #fp-nav {
        display: none;
    }
    .info > h2 {
        font-size: 1.4em;
    }
    .info {
        left: -6em;
    }
    .personal {
        top: 2em;
    }
    .educational {
        top: 18.5em;
    }
    .hobby {
        top: 28em;
    }
    .hobby > .info-ul {
        padding-left: 0.8em;
    }
    .about {
        top: 35.5em;
    }
    .about > p {
        padding-right: 8em;
    }
    /*農曆*/
    .calendar {
        right: .5em;
        top: 4em;
    }
    .calendar-content {
        padding: 0;
        top: -4.4em;
    }
    .calendar-day {
        font-size: 4em;
    }
    .calendar-date {
        padding-top: .2em;
    }
    .calendar-benefit {
        padding: 0 4em 0 0;
    }
    .calendar-benefit > li::before,
    .calendar-benefit > li::after {
        display: none;
    }
    .calendar-benefit > li {
        margin: 0 .2em;
        -webkit-writing-mode: horizontal-tb;
        writing-mode: horizontal-tb;
        writing-mode: horizontal-tb; /*兼容Safari*/
    }
    .calendar-reticle, .calendar-reticle::before {
        width: 21em;
    }
    .calendar-lunar {
        margin-top: -.7em;
    }
    .yi {
        max-width: 10em;
        margin: 0 auto;
    }
    /*工作經歷*/
    .work-experience-reticle {
        bottom: -22.5em;
        left: 1em;
    }
    .work-experience-reticle, .work-experience-reticle::before {
        width: 46em;
    }
    .work-experience-reticle::before {
        transform: rotate(270deg) translate(17em, -22em);
    }
    .work-experience-round {
        top: -30em;
        left: 1.15em;
    }
    .work-content {
        width: 22em;
        font-size: 1.2em;
    }
    .work-2015 {
        top: -2em;
    }
    .work-2014 {
        top: 11em;
    }
    .work-2014-3 {
        top: 21em;
    }
    .reticle-top-right > .profile-title {
        -ms-transform: rotate(-180deg) translate(.5em, -2em); /* Internet Explorer */
        -moz-transform: rotate(-180deg) translate(.5em, -2em); /* Firefox */
        -webkit-transform: rotate(-180deg) translate(.5em, -2em); /* Safari 和 Chrome */
        -o-transform: rotate(-180deg) translate(.5em, -2em); /* Opera */
        transform: rotate(-180deg) translate(.5em, -2em);
        font-size: 1.2em;
    }
    .reticle-top-right > .profile-title > span {
        font-size: 1.4em;
    }
    .reticle-top-right,
    .reticle-top-right::before,
    .reticle-bottom-left,
    .reticle-bottom-left::before {
        width: 22em;
    }
    .reticle-bottom-left {
        left: 1em;
        bottom: 3em;
    }
    .reticle-bottom-left::before {
        -ms-transform: rotate(270deg) translate(8em, -10em); /* Internet Explorer */
        -moz-transform: rotate(270deg) translate(8em, -10em); /* Firefox */
        -webkit-transform: rotate(270deg) translate(8em, -10em); /* Safari 和 Chrome */
        -o-transform: rotate(270deg) translate(8em, -10em); /* Opera */
        transform: rotate(270deg) translate(8em, -10em);
    }
    .reticle-top-right {
        right: 3em;
        top: 5em;
    }
    .reticle-top-right::before {
        -ms-transform: rotate(270deg) translate(5em, -10em); /* Internet Explorer */
        -moz-transform: rotate(270deg) translate(5em, -10em); /* Firefox */
        -webkit-transform: rotate(270deg) translate(5em, -10em); /* Safari 和 Chrome */
        -o-transform: rotate(270deg) translate(5em, -10em); /* Opera */
        transform: rotate(270deg) translate(5em, -10em);
    }
    .profile-content {
        padding-left: 4em;
        top: 1.5em;
    }
    .profile-name {
        font-size: .9em;
        width: 16em;
    }
    .profile-p {
        width: 18em;
        line-height: 1.4em;
        margin-top: .4em;
        margin-bottom: 0;
    }
    .profile-p2 {
        margin-top: .3em;
    }
    .profile-p2:nth-of-type(2) {
        margin-top: 1em;
    }
    .profile-p2 > h3 {
        margin-top: 0;
    }
    .assembly {
        margin-top: 0;
        line-height: .6em;
    }
    .assembly > li:last-child {
        margin-top: -.7em;
    }
    .assembly > li > p {
        padding-right: 1em;
    }
    .assembly > li > p > a {
        line-height: 1.4em;
    }
    .profile-content-2015-8 > p {
        margin-top: 1.4em;
    }
    .profile-content-2015-8 > .profile-p2 {
        margin-top: 2.3em;
    }
    p.assembly {
        width: 18em;
    }
    .s-xguide-down{
        width:50px;
        height:50px;
        display:inline-block;
        position:fixed;
        bottom:1em;
        left:50%;
        margin-left: -25px;
        background:url("../images/s_xman_guide_f3aebfe5.png") no-repeat -21px -3px;
        _background:none;
        _filter:progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/s_xguide_down_ie_a343e020.png",enabled=true,sizingMethod="crop");
        border-radius:50%;
        -moz-border-radius:50%;
        -webkit-border-radius:50%;
        -o-border-radius:50%;
        opacity:.7;
        cursor:pointer;
        z-index: 999;
    }
    @keyframes xguide_down{
        0%,100%{
            transform:scale(0.0);
            -moz-transform:scale(0.0);
            -o-transform:scale(0.0);
            -webkit-transform:scale(0.0);
            -ms-transform:scale(0.0);
            opacity:0
        }
        50%{
            transform:scale(1.0);
            -moz-transform:scale(1.0);
            -o-transform:scale(1.0);
            -webkit-transform:scale(1.0);
            -ms-transform:scale(1.0);
            opacity:1
        }
     
    }
    @-webkit-keyframes xguide_down{
        0%,100%{
            -webkit-transform:scale(0.0);
            -moz-transform:scale(0.0);
            -o-transform:scale(0.0);
            -ms-transform:scale(0.0);
            transform:scale(0.0);
            opacity:0
        }
        50%{
            -webkit-transform:scale(1.0);
            -moz-transform:scale(1.0);
            -o-transform:scale(1.0);
            -ms-transform:scale(1.0);
            transform:scale(1.0);
            opacity:1
        }
     
    }
    @-moz-keyframes xguide_down{
        0%,100%{
            -moz-transform:scale(0.0);
            -o-transform:scale(0.0);
            -webkit-transform:scale(0.0);
            -ms-transform:scale(0.0);
            transform:scale(0.0);
            opacity:0
        }
        50%{
            -moz-transform:scale(1.0);
            -o-transform:scale(1.0);
            -webkit-transform:scale(1.0);
            -ms-transform:scale(1.0);
            transform:scale(1.0);
            opacity:1
        }
     
    }
    @-o-keyframes xguide_down{
        0%,100%{
            -o-transform:scale(0.0);
            -moz-transform:scale(0.0);
            -webkit-transform:scale(0.0);
            -ms-transform:scale(0.0);
            transform:scale(0.0);
            opacity:0
        }
        50%{
            -o-transform:scale(1.0);
            -moz-transform:scale(1.0);
            -webkit-transform:scale(1.0);
            -ms-transform:scale(1.0);
            transform:scale(1.0);
            opacity:1
        }
     
    }
    .s-xguide-down.trans{
        -webkit-animation:xguide_down 4.0s infinite ease-in-out;
        -moz-animation:xguide_down 4.0s infinite ease-in-out;
        -o-animation:xguide_down 4.0s infinite ease-in-out;
        animation:xguide_down 4.0s infinite ease-in-out
    }
    .s-xguide-down.arrow-1{
        animation-delay:-2.0s;
        -webkit-animation-delay:-2.0s;
        -moz-animation-delay:-2.0s;
        -o-animation-delay:-2.0s
    }
}
/* 最小屏幕*/
@media all and (max-width: 330px) {
    .site-a {
        top: -7em;
        right: 1.5em;
    }
    .info > h2 {
        font-size: 1.2em;
    }
    .info-ul {
        padding-top: .6em;
        line-height: 1.8em;
    }
    .info-ul > li {
        font-size: 1.2em;
    }
    .educational {
        top: 15.5em;
    }
    .hobby {
        top: 23.5em;
    }
    .about {
        top: 30.5em;
    }
    .about > p {
        font-size: 1.2em;
    }
    .work-1::after {
        content: '2015.08 - 至今 百度在线网络有限公司';
    }
    .work-content {
        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        left: 2.2em;
        width: 20em;
    }
    .work-experience-reticle {
        bottom: -18.5em;
    }
    .work-2015 {
        top: 6em;
    }
    .work-2014 {
        top: 13.5em;
    }
    .work-2014-3 {
        top: 21em;
    }
    .work-more {
        display: block;
        position: absolute;
        bottom: -5em;
        right: -3em;
        color: #cf010d!important;
    }
    .reticle-top-right > .profile-title {
        font-size: 1.2em;
        -ms-transform: rotate(-180deg) translate(4.5em, -2em); /* Internet Explorer */
        -moz-transform: rotate(-180deg) translate(4.5em, -2em); /* Firefox */
        -webkit-transform: rotate(-180deg) translate(4.5em, -2em); /* Safari 和 Chrome */
        -o-transform: rotate(-180deg) translate(4.5em, -2em); /* Opera */
        transform: rotate(-180deg) translate(4.5em, -2em);
    }
    .reticle-top-right::before {
        display: none;
    }
    .reticle-bottom-left {
        border-bottom-width: 0;
    }
    .profile-p2 {
        margin-top: .8em;
    }
    .profile-content {
        top: 3.5em;
    }
    .assembly {
        margin-top: -.3em;
    }
    .assembly > li:last-child {
        margin-top: -.2em;
    }
    .assembly > li > p {
        margin: .8em 0;
    }
    p.assembly {
        font-size: 1.2em;
        margin-top: .5em;
    }
}
